.pedido {
    position: absolute;
    right: .5rem;
    top: 6rem;
    z-index: 1001;
    padding: 1.5rem;
    background-color:white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    border-radius: 4px;
}

.detalles-pedido{
    border-top: 1px solid #DCDCDC;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
h5,p{
    margin: 0;
}
.detalle-producto{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.añadir-producto{
    display: flex;
    background-color: #E4E4E4;
    align-items: center;
}
.añadir-producto > * {
    padding: .1rem .5rem ;
    
}

.añadir-producto button{
    border-radius: 4px;
    background-color: #E4E4E4;
}

.añadir-producto button:hover{
    background-color: #dedede;
}

.añadir-producto button:active{
    background-color: #d5d5d5;
}

.subtotal{
    border-top: 1px solid #DCDCDC;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.tipoenvio-container {
    padding: 1rem 0 ;
    border-top: 1px solid #DCDCDC;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.tipoenvio-container select {
    margin-left: .5rem;
    
}
