.categoria-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
}

.categoria-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

.categoria-section h2{
    background-color: #A98D7C;
    width: fit-content;
    color: white;
    padding: .5rem .75rem ;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
