@import url('https://fonts.cdnfonts.com/css/the-dead-saloon');


.productos-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #F4F4F4;
    height: fit-content;
}

.banner{ 
    display: flex;
}
.banner h1{ 
    font-family: 'the dead saloon', sans-serif;
    font-size: 5rem;
    margin: 0;
}

.banner-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    text-align: center;
}

.cowboy {
    max-height: 450px;
    object-fit: cover;
}

.banner-buttons{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.productos-section h2{
    background-color: #A98D7C;
    width: fit-content;
    color: white;
    padding: .5rem .75rem ;
    margin: 0;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.carrito-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    background:none;
    padding: .2rem;
}
.carrito-button:hover {
    background:rgb(233, 233, 233);
}

.carrito-button img{
    width: 30px;
}

.select-categorias {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.cat-button{
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    padding: .25rem .5rem;
    border: none;
    background-color: white;
    border-radius: 4px;
    width: fit-content;
}
.cat-button:hover{
    background-color: #ededed;
}
.cat-button:active{
    background-color: #e4e4e4;
}

.login-button-green{
    width: 206.45px !important;
    height: 32px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: 4px;
    height: min-content;
    cursor: pointer;
    padding: 4px 8px 4px 8px;
    background-color: green;
    color:white;
    border-radius: 4px;
    border-color: green;
    border: none;
}

.select-categorias{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    height: fit-content;
}

.cats-cards {
}

.categoria-card{
    cursor: pointer;
    height: fit-content;
    width: 120px;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.categoria-card:hover{
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.categoria-card:active{
    box-shadow:none;
}
.categoria-card h5{
    font-family: 'the dead saloon', sans-serif;
    font-size: 1rem;
    padding: .5rem .5rem;
}
.categoria-card img{
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    width: 120px ;
}
.categorias-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.carousel-container{
    padding: 0rem 1.5rem 2.5rem 1.5rem;
    
    max-width: 1000px;
}
.react-multi-carousel-dot button{
    border-color: rgb(71, 71, 71) !important;
}

.react-multi-carousel-dot--active button {
    background: rgb(71, 71, 71) !important;
}

.react-multiple-carousel__arrow--left {
    padding-right: .2rem;
}

.react-multiple-carousel__arrow {
    background: #4D2004 !important;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

@media (max-width:1050px){
    .select-categorias h2 {
        font-size: 1rem;
    }
    .banner-text {
        padding: 1rem;
    }
    .banner {
        flex-direction: column;

    }
    .banner-text h1{
        font-size: 3rem;
    }
    .banner-text h4{
        font-size: 1rem;
    }
    .banner-text img{
        display: none;
    }
    .cowboy {
        display: none;
    
    }
}